<p id="notice"><%= notice %></p>
<table border = "1">
	<tr><td>aho</td><td>baka</td></tr>
</table>
<p>
  <strong>Hoge:</strong>
  <%= @fuga.hoge %>
</p>

<p>
  <strong>Hogehge:</strong>
  <%= @fuga.hogehge %>
</p>



